{% extends 'base.html' %}
{% load static %}
{% block content  %}
<section style="height: 100vh;">
    <div class="container h-100">
        <div class="blog" style="padding: 140px 40px;">
            <div class="row justify-content-center h-100">
                <div class="col-lg-6 align-self-center">
                    <h1 class="text-mar-secondary text-center">Blog disponible próximamente</h1>
                </div>
                <div class="col-lg-6 text-center">
                    <img src="{% static 'img/about/blog.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}